@import '_reset.scss';
@import 'chat/_nav.scss';
@import 'chat/_footer.scss';
@import 'chat/_main.scss';
html{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:white;
    background-image:url("../kepler.png");
    overflow-y : hidden;
}

h1{
    text-align: center;

    font-size: 64px;
}


.home {
    backdrop-filter:blur(4px);
    border-radius: 1rem;
    position:relative;
    z-index: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin : 20%;
    margin-top:16%;
    transition: all 6s;
}

.complainBtn{
    margin:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    background-color: black;
    color:white;
    border-radius: 0.5rem;
    padding : 0.5rem;
        &:hover{
            cursor:pointer;
            background-color: rgb(93, 92, 92);
        }
}

.tram{
    display:none;
}

.glide{
    z-index: 2;
    position:fixed;
    top:-140%;
    left:-20%;
    transform:translate(-200rem, 0rem);
    scale:0.4;
    animation-name: tramway;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
}

@keyframes tramway {
    from{
        transform: translate(-180rem, -5rem);
       }to{
        transform: translate(160rem, 20rem);
        scale: 1.2;
    }
}