#footerChat {
    width: 80%;
    height: 125px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -200px;

        #inputChat {
            width: 80%;
            height: 50px;
            border: 2px solid #000000;
            border-radius: 25px;
            padding: 0 20px;
            font-size: 20px;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            margin-right: 20px;
        }

        button {
            font-family: inherit;
            font-size: 20px;
            background: black;
            color: white;
            padding: 0.7em 1em;
            padding-left: 0.9em;
            display: flex;
            align-items: center;
            border: none;
            border-radius: 16px;
            transition: all 0.2s;
            cursor: pointer;
          }
          
          button span {
            display: block;
            margin-left: 0.3em;
            transition: all 0.3s ease-in-out;
          }
          
          button svg {
            display: block;
            transform-origin: center center;
            transition: transform 0.3s ease-in-out;
          }
          
          button:hover .svg-wrapper {
            animation: fly-1 0.6s ease-in-out infinite alternate;
          }
          
          button:hover svg {
            transform: translateX(1.2em) rotate(45deg) scale(1.1);
          }
          
          button:hover span {
            transform: translateX(5em);
          }
          
          button:active {
            transform: scale(0.95);
        }
}